@font-face {
  font-family: "LarsseitBold";
  src: url("fonts/Larsseit_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "LarsseitRMed";
  src: url("fonts/Larsseit_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "LarsseitReg";
  src: url("fonts/Larsseit_Regular.ttf") format("truetype");
}

$base-link: #14cc95;
$vermillion: #f96b59;
$base-black: rgb(20, 20, 20);
$maxWidth: 1920px;
$time: 0.15s;

// nav colors
$captivate: #6e9cb6;
$reach: #d2814c;
$process: #db6363;
$technology: #b69474;

body {
  min-height: 100vh;
  background: $base-black;
  font-size: 1.2rem;
  position: relative;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
  color: #fff;
  text-size-adjust: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
a svg {
  margin-left: 0.5rem;
}
p {
  font-size: 1.2rem;
  opacity: 0.9;
}
blockquote {
  font-style: italic;
  font-size: 1.75rem;
}
h1,
h2,
h3 {
  font-family: "LarsseitRMed";
  opacity: 0.9;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
li {
  margin: 0;
}
