.content-block {
  p {
    // font-size: 1.2rem;
    margin-left: 10rem;
    opacity: 0.7;
  }

  .containme {
    display: flex;
    align-items: center;
    vertical-align: baseline;
    h1 {
      letter-spacing: -2px;
      opacity: 0.3;
      line-height: 1;
      margin: 0;
      font-size: 6rem;
      font-family: Helvetica;
      font-style: italic;
      font-weight: normal;
      padding-right: 1.5rem;
      border-right: 1px solid rgba(240, 240, 240, 0.9);
    }
    h2 {
      margin: 0;
      padding: 0 2rem;
      font-size: 1.5rem;
      text-transform: capitalize;
      span {
        font-size: 3rem;
        display: block;
        font-family: LarsseitBold;
        margin-bottom: 0.5rem;
      }
      font-family: LarsseitReg;
    }
  }

  a {
    font-size: 1rem;
    margin-left: 9rem;
    color: $base-link;
  }
  img {
    max-width: 70%;
    margin-left: 10rem;
  }
}

.content-container {
  padding-left: 470px;
  padding-right: 470px;
  max-width: 1400px;
  margin: 4rem auto 10rem auto;
  position: relative;
}

.special {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  img {
    max-width: 150%;
  }
}

.page-block {
  #mobile-video {
    float: right;
    width: 300px;
    border-radius: 2.5rem;
    margin-left: 3rem;
    box-shadow: 12px 12px 12px #333;
    border: 3px solid #000;
  }
  h1 {
    border-bottom: 1px solid #555;
  }
  h2 {
    margin-top: 3rem;
  }
  ul {
    padding-left: 0.5rem;
    list-style-type: square;
  }
  li {
    margin: 0.75rem;
  }
}
