.content-block {
  a {
    font-size: 1rem;
    margin-left: 9rem;
    color: $base-link;
    svg.caret {
      fill: $gray-blue;
    }
  }

  img {
    width: 686px;
    margin-left: 10rem;
  }

  p {
    margin-left: 10rem;
    margin-right: 10rem;
    opacity: 0.8;
  }

  h2 {
    margin: 0;
    line-height: 1.1;
    text-transform: capitalize;
    font-size: 3rem;
    display: block;
    font-family: LarsseitReg;
  }

  .lockup {
    display: flex;
    align-items: center;
    vertical-align: baseline;
    .sublockup {
      display: flex;
      flex-direction: column;
      padding: 0 2rem;
    }

    h1 {
      opacity: 0.3;
      line-height: 1;
      margin: 0 0 0 1rem;
      font-size: 5rem;
      font-family: Helvetica;
      font-style: italic;
      font-weight: normal;
      padding-right: 1.5rem;
      border-right: 1px solid rgba(240, 240, 240, 0.9);
    }
  }
}
// for weird infographic
.special {
  position: relative;
  .frame {
    position: absolute;
    top: -56px;
    right: 40px;
  }
}
