header {
  background-color: white;
  transition: background-color $time linear;
  position: sticky;
  top: 0;
  z-index: 2000;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    li {
      margin: 0 2rem;
      padding-left: 0.75rem;
    }
  }
}

nav {
  padding-left: 70px;
  padding-right: 70px;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: baseline;
}

.mainlinks li {
  border-left: 1px solid #aaa;
  span {
    display: block;
  }
  a {
    text-transform: capitalize;
  }
}

.logo {
  width: 240px;
  height: 91px;
  background: url("./img/PerksyLogo_Black_1540.svg") no-repeat;
  a {
    display: block;
    width: 240px;
    height: 91px;
  }
}

header:hover {
  background-color: $base-black;
  transition: background-color $time linear;
  .logo {
    background: url("./img/PerksyLogo_White_1540.svg") no-repeat;
  }
  li a {
    color: white;
    transition: color $time linear;
  }
  .link {
    span {
      transition: color $time linear;
    }
  }
  .mobile {
    border-color: $captivate;
    span {
      color: $captivate;
    }
  }
  .reach {
    border-color: $reach;
    span {
      color: $reach;
    }
  }
  .process {
    border-color: $process;
    span {
      color: $process;
    }
  }
  .technology {
    border-color: $technology;
    span {
      color: $technology;
    }
  }
}

.sublinks ul {
  display: flex;
  align-items: center;
  justify-items: center;
}
