// VIDEO stuff
#test-video-container {
  height: 800px;
  position: relative;
  padding-bottom: 5rem;
  max-width: $maxWidth;
  margin: 0 auto;
  overflow: hidden;
}
#test-video {
  position: relative;
  top: 0;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

// HERO
.hero {
  position: absolute;
  top: 10%;
  left: 12rem;
  width: 50%;

  .text-block {
    position: absolute;
    top: -10px;
    left: 17rem;
    z-index: 1001;
    width: 100%;
  }
  img.sticker {
    width: 24rem;
    transform: rotate(-8deg);
    margin-left: -30px;
  }
  [alt="brands"] {
    max-width: 1000px;
  }
  h1 {
    line-height: 1.1;
    color: white;
    font-size: 4rem;
    opacity: 1;
    z-index: 1000;
    margin-bottom: 0;
  }
  p {
    color: white;
    opacity: 0.6;
    font-size: 1.5rem;
    max-width: 700px;
    padding-bottom: 2rem;
    margin-top: 1rem;
    a {
      font-size: 1.15rem;
      color: $base-link;
    }
  }
  video {
    height: 800px;
    opacity: 0.35;
    display: block;
    margin: 0 auto;
  }
}
