// $base-link: #14cc95;
$base-link: #6e9cb6;
$vermillion: #f96b59;
$base-black: rgb(25, 25, 31);
$maxWidth: 2048px;
$time: 0.15s;

// nav colors
$gray-blue: #6e9cb6;
$reach: #d2814c;
$process: #db6363;
$technology: #b69474;
