@import "includes/base";
@import "includes/header";
@import "includes/hero";
@import "includes/animation-1";
@import "includes/content-blocks";

footer {
  nav {
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1400px;
    margin: 0 auto;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    li {
      margin: 1rem;
    }
    a {
      color: white;
      padding: 1rem;
    }
  }
}
